

body{
    background-color: rgb(179, 146, 211);
    margin: 0;
    padding: 0;
}
#titulotex{
    background-color: lemonchiffon ;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
#boton1, #boton2, #boton3{
    background-color: yellow;
    border-radius: 20px;
    text-align: center;
    
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: 800px;
    
}
#boton3:hover{
    background-color: bisque;
}
#boton2:hover{
    background-color: bisque;
}
#boton1:hover{
    background-color: bisque;
}
